grant {
 //permission java.net.SocketPermission "127.0.0.1:5432", "connect, resolve";

//Permissão da conexão - Servidor
 //permission java.net.SocketPermission "192.168.43.212:1099", "connect";
 permission java.net.SocketPermission "192.168.43.212:1099", "accept";
 //permission java.net.SocketPermission "192.168.43.212:1099", "listen";
 //permission java.net.SocketPermission "192.168.43.212:1099", "resolve";

//Permissão para o servidor poder ler e escrever
 permission java.util.PropertyPermission "*", "write";
 permission java.util.PropertyPermission "*", "read";

//Permissão da conexão - Cliente
 permission java.net.SocketPermission "192.168.43.197:1024-", "connect";
 permission java.net.SocketPermission "192.168.43.198:1024-", "accept";
 permission java.net.SocketPermission "192.168.43.197:1024-", "listen";
 permission java.net.SocketPermission "192.168.43.197:1024-", "resolve";

//Permissão para o cliente poder ler
 permission java.io.FilePermission "\-", "read";

//Permissão para a biblioteca do hibernate
 

};